body,h1,h2,h3,p,ul,li,ol,dt,dl{padding:0px;margin:0px;}
ul,ol{list-style: nono}
body{background: #DBEAF9;}
a{text-decoration:none;}
#top{
    background:#005A85;
    height:80px;
}
#top .menu{
    margin:0 auto;
    width:960px;
}
#top .menu h3{
    font-size:26px;
    color:#fff;
    font-family:"微软雅黑";
    margin-top:30px;
}
/****主体****/
#div#main{
    margin:0 auto;
    width:960px;
    height: auto;
    overflow:hidden;
}
div#main #nav{
    padding-left: 100px;
    padding-top: 20px;
}
div#main #nav a{
    font-size:16px;
    font-family:"微软雅黑";
    color:#000;
}
div#main #nav a:hover{
    font-size:16px;
    font-family:"微软雅黑";
    color:#015B85;
}
div#main .big{
    height:auto;
    overflow:hidden;
}
div#main .big .list{
    margin-top: 20px;
    width:690px;
    float: left;
    background: #ececec;
    height:auto;
    overflow:hidden;
    padding:20px;
    border-radius:6px;
}
/***列表博客样式****/
div#main .big .list ul li{
    height:auto;overflow:hidden;
    border-bottom:solid 1px #999;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
div#main .big .list ul li a.title{
    font-size:14px;color:#000;
    font-weight:bold;display:block;
}
div#main .big .list ul li em{
    font-size:12px;color:#333;
}
div#main .big .list ul li p{
    font-size:14px;color:#333;line-height:1.8em;
    margin:15px 0px;padding:10px;
    border:solid 1px #DBEAF9;
}
div#main .big .list ul li p{
    font-size:12px;color:#333;line-height:1.8em;
}
/***列表博客样式****/
div#main .big .list ul li div.detail {
    font-size:14px;
}
div#main .big .list ul li div.detail a{
    color:#333;
}
/****右侧关于博主****/
div#main .big .about{
    float:right;
    margin-top: 20px;
    width:200px;
    background: #ececec;
    border:solid 1px #dcdcdc;
    height:auto;
    overflow:hidden;
    padding:20px;
    border-radius:6px;
}
div#main .big .info{
    margin-top: 15px;
    font-size:12px;
}
div#main .big .info span{
    line-height: 2em;display:block;
}
div#main .big .info span strong{
    color:#666;
}